@{
	ViewData["Title"] = "Info";
}
<h1>Info</h1>
<h2>Gebruikers:</h2>
<h4>Rol gebruiker</h4>
<ul>
	<li>test@test.be</li>
	<li>Testtest1!</li>
</ul>
<h4>Admin gebruiker</h4>
<ul>
	<li>admin@test.be</li>
	<li>Testtest1!</li>
</ul>
<ul>
	<li>
		<h4>Admin</h4>
	</li>
	<ul>
		<li>
			Store CRUD, done
		</li>
		<li>
			Products CUD, done
		</li>
		<li>
			Vat Percentage CRUD, done
		</li>
		<li>
			Users CRUD + roles, done
		</li>
	</ul>
	<li>
		<h4>User</h4>
	</li>
	<ul>
		<li>Tickets CRUD</li>
		<li>Products R filter & search, done</li>
		<li>TicketsProducts CRUD</li>
		<li>Vat Percentage R, done</li>
		<li>Locations CRUD, done</li>
		<li>Stocks CRUD</li>
	</ul>
	<li>
		<h4>Anon</h4>
	</li>
	<ul>
		<li>Products R filter & search, done</li>
		<li>Store R, filter & search, done</li>
	</ul>
	<h4>Github url</h4>
	<li>https://github.com/lachiu/ASP_Project_GTI_GPR_D2.2</li>
</ul>